body {
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;
}

.nav {
  height: 90px;
  width: 100vw;
}
.nav a {
  float: right;
  padding: 10px;
  color: black;
  
}
.nav h3 {
  float: left;
  padding: 10px;
  margin: 0;
}
.HomePage {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 20%;
  max-height: 50%;
}
